.header {
    background-color: #C9ADC6;
    background-size: 611px;
    background-position: bottom;
    padding: 24px 0 30px;
    margin-bottom: 30px; 
}

.header__logo {
    width: 150px;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto 24px;
}
.header__title-container {
    padding-bottom: 246px;
    background: url('../../asserts/svg_img/pic.svg') bottom/227px no-repeat;
    text-align: center;
    color: #FFFFFF;
}
.header__title {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.header__appeal {
    font-size: 13px;
    line-height: 16px;
}

@media (min-width: 480px) {
    .header {
        background-size: 1400px;
        padding-bottom: 44px;
    }
    .header__container {
        min-width: 480px;
    }
    .header__title-container {
        padding-bottom: 0;
        text-align: left;
        padding-left: 220px;
        padding-top: 37px;
        background-position: left;
        background-size: contain;
        min-height: 190px;
    }
}
@media (min-width: 768px) {
    .header {
        background-size: 2540px;
    }
    .header__container {
        max-width: calc(562px + var(--padding-container) * 2);
    }
    .header__title-container {
        padding-left: 270px;
        min-height: 229px;
    }
    .header__title {
        font-size: 36px;
        margin-bottom: 16px;
        
    }
}
@media (min-width: 1024px) {
    .header {
        background-size: 2880px;
        padding-bottom: 63px;
        margin-bottom: 40px;
    }
    .header__container {
        max-width: calc(764px + var(--padding-container) * 2);
    }
    .header__title-container {
        padding-left: 360px;
        padding-top: 47px;
        min-height: 326px;
        // padding-top: 50px;
    }
    .header__title {
        font-size: 50px;
        margin-bottom: 20px;
    }
    .header__appeal {
        font-size: 16px;
        line-height: 22px;
    }
}
@media (min-width: 1360px) {
    .header__container {
        max-width: calc(784px + var(--padding-container) * 2);
    }
    .header__title-container {
        padding-left: 380px;
        padding-top: 46px;
    } 
}
